/*
I made the visitor page theme match my dark mode theme (retro green phosphor).
- Instead of an outline when an input is active, I have a right angle bracket that points
to where the cursor should be.
- I centered all elements and made them responsive at sizes all the way down to mobile
- A have the checkboxes in a single row for wide screens, but on smaller widths they each become their own column
*/

@font-face {
  font-family: IBM;
  src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf");
}

body {
  font-family: IBM;
  background: black;
  color: lime;
  margin: auto;
  padding: 50px 0;
}

form {
  width: 80%;
}

.errorMsg {
  color: red;
  font-size: 0.75em;
}

input + .errorMsg {
  text-align: right;
}

input {
  border: none;
  background-color: black;
  border-bottom: solid 1px lime;
  padding: 5px;
  color: lime;
}

input:focus {
  outline: none;
}

span:has(+ input) {
  visibility: hidden;
}

span:has(+ input:focus) {
  visibility: visible;
}

/*only show error information when 'was-validated' class is added to the input*/
input.was-validated:invalid {
  color: red;
  border: 1px solid red;
}

input.was-validated:invalid ~ div.errorMsg {
  display: block;
}
/* hide all error divs 
  ~ is the general sibling selector and selects 'div' siblings of the input*/
input:valid ~ div.errorMsg {
  display: none;
}

input:invalid ~ div.errorMsg {
  display: none;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  place-items: center;
}

.container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

ul.flex {
  width: 100%;
}

.contact {
  display: inline-block;
  text-align: right;
}

.flex li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  /* align-items: center; */
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: space-between;
}

.flex > li {
  max-width: 400px;
  margin: auto;
}

.flex button {
  margin: auto;
  padding: 22px 46px;
  font: normal 22px/1.5 sans-serif;
  border: solid 1px lime;
  background: black;
  color: lime;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 4px;
  transition: font-size 0.5s;
}

.flex button:hover {
  font-size: 1.55em;
}

.flex button:active {
  background-color: lime;
  color: black;
}

.flex > li {
  margin-bottom: 20px;
}

.flex > li > label {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100px;
  flex: 1 0 100px;
  max-width: 200px;
  align-self: top;
}

.flex > li + * {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="text"], input + .errorMsg {
  width: 170px;
  margin-left: auto;
  margin-right: 0;
}

#source {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.5em;
}

.chk-container {
  display: flex;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: auto;
}

.chk-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.chk-container:hover input ~ .checkbox {
  background-color: lime;
  opacity: 35%;
}

.chk-container input:checked ~ .checkbox {
  background-color: lime;
  opacity: 100%;
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.chk-container input:checked ~ .checkbox:after {
  display: block;
}

.checkbox {
  position: absolute;
  left: 0;
  align-self: center;
  height: 15px;
  width: 15px;
  background-color: black;
  border: solid 1px lime;
}

#check-err {
  text-align: center;
  font-size: 1.25em;
}

@media screen and (max-width: 1050px) {
  #source {
    flex-direction: column;
    width: 10em;
    align-items: start;
    margin: auto;
    font-size: 1.25em;
  }
}

#find-block {
  border: solid 1px lime;
  padding: 0 20px 20px;
  margin: 50px auto;
  overflow: hidden;
}

fieldset {
  border: none;
  border: solid 1px lime;
  margin-bottom: 20px;
}

fieldset textarea {
  color: lime;
  background-color: black;
  padding: 5px;
  width: 100%;
  font-size: 1.5em;
  border: none;
  outline: none;
}

legend label {
  margin: 0 10px;
  font-size: x-large;
}
