/*
- Following the Proj 4 feedback, I extended the body to 100% height so that my dark mode colors cover the whole screen
*/

/* General styles for the whole document */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-areas:
    "head head"
    "aside main"
    "foot foot";
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 100px 1fr;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Shared styles for each page's main content */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
main {
  grid-area: "main";
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  background-color: lightblue;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Styles for the navbar */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

h1 {
  text-align: center;
}

nav {
  grid-area: aside;
  background-color: lightyellow;
  display: grid;
  padding: 20px 10px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: large;
}

#logo-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.btn-holder {
  width: 50px;
  height: 26px;
  border-radius: 18px;
  background-color: lightyellow;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.btn-circle {
  background-color: lightblue;
  transform: translateX(0px);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: 300ms;
}

.active {
  background-color: lime;
  transform: translateX(30px);
  transition: 300ms;
}

.checkbox {
    display: none;
}

#face {
  width: 75px;
  border-radius: 50%;
}

#robot{
  display: none;
}

#icons {
  width: 75px;
  display: flex;
  justify-content: space-around;
}

i {
  font-size: large;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Styles for the projects section */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#home {
  padding: auto;
}
.resp-desc {
  display: none;
}

.desc {
  padding: 10px;
}

.project {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin: 100px;
}

@media(max-width: 890px) {
  .project {
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    place-items: center;
  }

  .wide-desc {
    display: none;
  }

  .resp-desc {
    display: block;
  }
}

figure {
  margin: 0;
}

figure img {
  width: 400px;
}

iframe {
  width: 400px;
}

@media(max-width: 930px) {
  figure img {
    width: 300px;
  }
}

figcaption {
  color: #636363;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Styles for the blog section */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.blog-link {
  padding: 10px 30px;
  margin-bottom: 30px;
  width: 80ch;
  border: solid black 3px;
  position: relative;
}

@media(max-width: 911px) {
  .blog-link {
    width: 40ch;
  }
}

.blog-link p {
  margin-bottom: 30px;
}

.blog-link i {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: x-large;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Styles for the about section */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#about {
  width: 80ch;
}

@media(max-width: 850px) {
  #about {
    width: 50ch;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Styles for the footer */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer {
  grid-area: foot;
  text-align: center;
  padding: auto;
  background-color: lightcoral;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
